{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% load allauth %}
{% load static %}

{% block content %}
<div class="container wrapper d-flex justify-content-center align-items-center" style="background: url('{% static "images/background-form.jpg" %}') no-repeat fixed top right / cover;">
    <div class="form-background">
        <h1 class="text-center">
            Confirm Email Address
        </h1>
        {% if confirmation %}
            {% user_display confirmation.email_address.user as user_display %}
            {% if can_confirm %}
                <p class="text-center">
                    {% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}" class="custom-form-link">{{ email }}</a> is an email address for user {{ user_display }}.{% endblocktrans %}
                </p>
                {% url 'account_confirm_email' confirmation.key as action_url %}
                {% element form method="post" action=action_url %}
                    {% slot actions %}
                        {% csrf_token %}
                        <div class="w-100 d-flex justify-content-center p-3">
                            <button type="submit" class="btn btn-success button-shadow">
                                Confirm
                            </button>
                        </div>
                    {% endslot %}
                {% endelement %}
            {% else %}
                <p>
                    {% blocktrans %}Unable to confirm {{ email }} because it is already confirmed by a different account.{% endblocktrans %}
                </p>
            {% endif %}
        {% else %}
            {% url 'account_email' as email_url %}
            <p>
                {% blocktrans %}This email confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new email confirmation request</a>.{% endblocktrans %}
            </p>
        {% endif %}
    </div>
</div>
{% endblock content %}
