{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% load static %}

{% block content %}
<div class="container wrapper d-flex justify-content-center align-items-center" style="background: url('{% static "images/background-form.jpg" %}') no-repeat fixed top right / cover;">
    <div class="form-background">
    <h1 class="text-center">
        {% if token_fail %}
            Bad Token
        {% else %}
            Change Password
        {% endif %}
    </h1>
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="text-center">
            {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}" class="custom-form-link">new password reset</a>.{% endblocktrans %}
        </p>
    {% else %}
        {% element form method="post" action=action_url %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form %}
                {% endelement %}
            {% endslot %}
            {% slot actions %}
            <div class="w-100 d-flex justify-content-center p-3">
                <button type="submit" name="action" class="btn btn-success button-shadow">
                    Change Password
                </button>
            </div>
            {% endslot %}
        {% endelement %}
    {% endif %}
    </div>
</div>
{% endblock content %}
