{% extends "base.html" %}
{% load allauth i18n %}
{% load static %}

{% block content %}
<div class="container wrapper d-flex justify-content-center align-items-center" style="background: url('{% static "images/background-form.jpg" %}') no-repeat fixed top right / cover;">
    <div class="form-background">
    {% element h1 %}
        {% trans "Change Password" %}
    {% endelement %}
    {% url 'account_change_password' as action_url %}
    {% element form form=form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
        <div class="w-100 d-flex justify-content-center p-3">
            <button type="submit" class="btn btn-success button-shadow">
                {% trans "Change Password" %}
            <button>
        </div>
        {% endslot %}
    {% endelement %}
    </div>
</div>
{% endblock content %}
