{% extends "base.html" %}
{% load allauth i18n socialaccount %}
{% load static %}

{% block content %}
<div class="container wrapper d-flex justify-content-center align-items-center" style="background: url('{% static "images/background-form.jpg" %}') no-repeat fixed top right / cover;">
    <div class="form-background">
        <div class="w-100 d-flex justify-content-center p-3">
            <h1>
                Register
            </h1>
        </div>
        <div class="w-100 d-flex justify-content-center form-heading">
            <p>Already have an account? Then please <a href="{{ login_url }}"> log in </a>.</p>
        </div>
        <div class="w-100 d-flex justify-content-center form-heading">
            <p>Please read our <a href="#" data-bs-toggle="modal" data-bs-target="#termsModal"> Terms & Conditions </a>.</p>
        </div>
        {% url 'account_signup' as action_url %}
        {% element form form=form method="post" action=action_url tags="entrance,signup" %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
            <div class="w-100 d-flex justify-content-center p-3">
                <button tags="prominent,signup" type="submit" class="btn btn-success button-shadow">
                    Register
                </button>
            </div>
        {% endslot %}
        {% endelement %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    </div>
</div>
<!-- T&C Modal -->
<div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="termsModalLabel">Terms & Conditions</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <ul class="tc-list">
                    <li>
                        <p><strong>1. User Agreement:</strong> By registering and using our website, you agree to abide by these terms and conditions.</p>
                    </li>
                    <li>
                        <p><strong>2. Age Restriction:</strong> Users must be at least 18 years old to register on this platform. By registering, users confirm that they meet this age requirement.</p>
                    </li>
                    <li>
                        <p><strong>3. Account Responsibility:</strong> Users are responsible for maintaining the confidentiality of their account information, including username and password. Any activity that occurs under the user's account is their responsibility.</p>
                    </li>
                    <li>
                        <p><strong>4. Prohibited Content:</strong> Users agree not to upload, post, or share any content that is offensive, inappropriate, or violates the intellectual property rights of others. This includes but is not limited to images, text, or any other form of media.</p>
                    </li>
                    <li>
                        <p><strong>5. Booking Policies:</strong> Users must adhere to the booking policies outlined on the website, including cancellation policies, rescheduling procedures, and any associated fees.</p>
                    </li>
                    <li>
                        <p><strong>6. User Conduct:</strong> Users agree to conduct themselves in a respectful manner when interacting with other users, administrators, or any other individuals associated with the website.</p>
                    </li>
                    <li>
                        <p><strong>7. Intellectual Property:</strong> All content provided on the website, including images, text, and other media, is the intellectual property of the website owner. Users may not reproduce, distribute, or use this content without explicit permission.</p>
                    </li>
                    <li>
                        <p><strong>8. Data Privacy:</strong> The website collects and stores user data in accordance with the privacy policy. By using the website, users consent to the collection, storage, and use of their personal information as outlined in the privacy policy.</p>
                    </li>
                    <li>
                        <p><strong>9. Termination of Account:</strong> The website reserves the right to terminate or suspend user accounts for any violation of these terms and conditions, or for any other reason deemed necessary by the website administrator.</p>
                    </li>
                    <li>
                        <p><strong>10. Changes to Terms:</strong> The website reserves the right to modify or update these terms and conditions at any time. Users will be notified of any changes, and continued use of the website implies acceptance of the updated terms.</p>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning button-shadow" data-bs-dismiss="modal">Back</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
