{% extends "base.html" %}

{% block content %}
<div class="wrapper">
<h1>My details : </h1><br>
Changing details for user {{ username }}

<form method="post" action="{% url 'profile-manager' %}">
    {% csrf_token %}
    {{ details_form.as_p }}
    <button type="submit">Save Changes</button>
</form>
<br>
    <a href="{% url 'account_change_password' %}"class="btn btn-primary">Change password</a><br>
    <a href="{% url 'account_email' %}"class="btn btn-primary">Change Email</a><br>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Delete account
  </button>
</div>  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete acount ?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure ? Bad things will happen.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
          <a href="{% url 'delete-profile' %}" class="btn btn-primary">Delete my account</a>
        </div>
      </div>
    </div>
  </div>
{%endblock%}