{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Inner container -->
    <div class="container wrapper" style="background: url('{% static "images/background-artists.jpg" %}') no-repeat fixed top right / cover;">
        <div clas="row">
            <div class="col-12 text-center add-shadow heading">
                <h1>The Dream Team @ Aneta's Glimmer</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
            <!-- Loop to display all artists -->
            {% for artist in artists_list %}
                <!-- If odd iteration display left else display right -->
                {% if not forloop.counter|divisibleby:2 %}
                    <div class="list-container-left add-shadow float-start w-75">
                {% else %}
                    <div class="list-container-right add-shadow float-end w-75">
                {% endif %}
                    <div class="row">
                        <!-- If odd iteration display profile picture left else display right -->
                        {% if not forloop.counter|divisibleby:2 %}
                            <div class="col-lg-4 col-sm-12">
                        {% else %}
                            <div class="col-lg-4 col-sm-12 order-lg-last">
                        {% endif %}
                            <a href="{% url 'artist-detail' slug=artist.artist.slug %}" aria="Details of {{ artist.name }}">
                                <!-- If no profile picture, display default profile picture -->
                                {% if "default_artist_pp" in artist.artist.profile_picture.url %}
                                    <img src="{% static 'images/default_pp.jpg' %}" class="img-fluid artist-profile-pic" alt="{{ artist.artist.name }}">
                                {% else %}
                                    <img src="{{ artist.artist.profile_picture.url }}" class="img-fluid artist-profile-pic" alt="{{ artist.artist.name }}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-lg-8 col-sm-12 list-detail">
                            <h2>
                                <a href="{% url 'artist-detail' slug=artist.artist.slug %}" aria="Details of {{ artist.name }}">{{ artist.artist.name }}</a>
                            </h2>
                            <span>
                            <!-- Star rating -->
                            {% if artist.rating >= 4.75 %}
                                {% for i in "12345" %}
                                    <img src="{% static 'images/icons/star.png' %}" class="star" alt="{{ artist.rating }}">
                                {% endfor %}
                            {% elif artist.rating < 4.75 and artist.rating >= 4.25 %}
                                {% for i in "1234" %}
                                    <img src="{% static 'images/icons/star.png' %}" class="star" alt="{{ artist.rating }}">
                                {% endfor %}
                                <img src="{% static 'images/icons/half_star.png' %}" class="star" alt="{{ artist.rating }}">
                            {% elif artist.rating < 4.25 and artist.rating >= 3.75 %}
                                {% for i in "1234" %}
                                    <img src="{% static 'images/icons/star.png' %}" class="star" alt="{{ artist.rating }}">
                                {% endfor %}
                            {% elif artist.rating < 3.75 and artist.rating >= 3.25 %}
                                {% for i in "123" %}
                                    <img src="{% static 'images/icons/star.png' %}" class="star" alt="{{ artist.rating }}">
                                {% endfor %}
                                <img src="{% static 'images/icons/half_star.png' %}" class="star" alt="{{ artist.rating }}">
                            {% elif artist.rating < 3.25 and artist.rating >= 2.75 %}
                                {% for i in "123" %}
                                    <img src="{% static 'images/icons/star.png' %}" class="star" alt="{{ artist.rating }}">
                                {% endfor %}
                            {% elif artist.rating < 2.75 and artist.rating >= 2.25 %}
                                {% for i in "12" %}
                                    <img src="{% static 'images/icons/star.png' %}" class="star" alt="{{ artist.rating }}">
                                {% endfor %}
                                <img src="{% static 'images/icons/half_star.png' %}" class="star" alt="{{ artist.rating }}">
                            {% elif artist.rating < 2.25 and artist.rating >= 1.75 %}
                                {% for i in "12" %}
                                    <img src="{% static 'images/icons/star.png' %}" class="star" alt="{{ artist.rating }}">
                                {% endfor %}
                            {% elif artist.rating < 1.75 and artist.rating >= 1.25 %}
                                <img src="{% static 'images/icons/star.png' %}" class="star" alt="{{ artist.rating }}">
                                <img src="{% static 'images/icons/half_star.png' %}" class="star" alt="{{ artist.rating }}">
                            {% elif artist.rating < 1.25 and artist.rating >= 0.75 %}
                                <img src="{% static 'images/icons/star.png' %}" class="star" alt="{{ artist.rating }}">
                            {% elif artist.rating < 0.75 and artist.rating >= 0.25 %}
                                <img src="{% static 'images/icons/half_star.png' %}" class="star" alt="{{ artist.rating }}">
                            {% else %}
                                {{ artist.artist.name }} has no reviews yet.
                            {% endif %}
                            </span>
                            <p>
                            <!-- If no rating display nothing -->
                            {% if artist.rating_count == 0 %}
                            {% elif artist.rating_count == 1 %}
                                <!-- If 1 rating display "review" -->
                                Based on
                                &nbsp
                                <strong>
                                    {{ artist.rating_count }}
                                </strong>
                                &nbsp
                                review.
                            <!-- If more ratings display "reviews" -->
                            {% else %}
                                Based on
                                &nbsp
                                <strong>
                                    {{ artist.rating_count }}
                                </strong>
                                &nbsp
                                reviews.
                            {% endif %}
                            </p>
                            <hr />
                            <!-- List of styles connected with artist -->
                            <p class="text-center">
                                <strong>
                                    Styles {{ artist.artist.name }} excells in: 
                                </strong>
                                <br>
                                {% for style in artist.artist.styles.all %}
                                    {{ style.style_name }}
                                    <!-- If not last iteration display comma -->
                                    {% if not forloop.last %}
                                        ,
                                    {% endif %}
                                {% endfor %}
                            </p>
                            <hr />
                            <!-- Booking button -->
                            <div class="container text-center">
                                <a href="{% url 'new-booking' %}" aria="New booking with {{ artist.name }}">
                                    <button type="button" class="btn btn-success button-shadow">New booking with {{artist.artist.name }}</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{%endblock%}