{% extends "base.html" %}

{% block content %}
<div class="wrapper">
<h1>Name : {{ artist_selected.name }}</h1>
<br>
Profile picture : {{ artist_selected.profile_picture }} 
<br>
Bio : {{ artist_selected.bio }} 
<br>
Public profile : {{ artist_selected.public_profile }} 
<br>
Start date : {{ artist_selected.start_date }} 
<br>
{% if rating != 0 %}
    Rating : {{ rating }}
    <br>
    Total bookings : {{ bookings_total }}
    <br>
{% else %}
    No reviews yet.
{% endif %}
<br>
{{ name }} excells in these styles : 


{% for filtered_style in filtered_styles %}
    {% for detail in filtered_style %}
        {% if not forloop.counter|divisibleby:2 %}
            <a href="{% url 'style-detail' slug=detail %}">
        {% else %}
            {{ detail}}</a>
        {% endif %}
    {% endfor %}
{% endfor %}
</div>
{%endblock%}