{% extends "base.html" %}

{% block content %}
<div class="wrapper">
<h1>Our Team :</h1>
<br>
{% for artist in artists_list %}
<a href="{% url 'artist-detail' slug=artist.artist.slug %}">Name : {{ artist.artist.name }}</a>
<br>
Profile picture : {{ artist.artist.profile_picture }}
<br>
Bio : {{ artist.artist.bio }}
<br>
Public profile : {{ artist.artist.public_profile }}
<br>
Since : {{ artist.artist.start_date }}
<br>
Styles : 
{% for style in artist.artist.styles.all %}
    {{ style.style_name }}
    {% if not forloop.last %}
        ,
    {% endif %}
{% endfor %}
<br>
Rating : {{ artist.rating }}
<br>
Total bookings : {{ artist.rating_count }}
<br><br>
{% endfor %}
</div>
{%endblock%}