{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="wrapper">
Heading image : {{ news_detail.heading_image }}
<br>
<h1>Title : {{ news_detail.title }}</h1>
<br>
Creator : {{ news_detail.creator }}
<br>
Created : {{ news_detail.created_on }}
<br>
Post Body : {{ news_detail.post_body | safe }}
<br>
Likes : {{ news_detail.number_of_likes}}
{% if user.is_authenticated %}
{% for comment in comments %}
<div>
{{ comment.username }}
{{ comment.comment_body }}
{{ comment.created_on }}
</div>
{% endfor %}
Liked by :
<a href="#" data-bs-toggle="modal" data-bs-target="#likesModal">
{% if users_liked|length < 4 %}
    {% for user in users_liked %}
        {{ user }}
        {% if  forloop.counter < users_liked|length %}
            ,
        {% endif %}
    {% endfor %}
{% else %}
    {% for user in users_liked|slice:":3" %}
        {{ user }}
        {% if  forloop.counter < 3 %}
            ,
        {% endif %}
    {% endfor %}
    and {{ users_liked|slice:"3:"|length }} more
{% endif %}
</a>
<form method="post">
    {{ news_comment_form | crispy }}
    {% csrf_token %}
    <button type="submit">Comment</button>
</form>

{% else %}
Only logged in users can read and add comments.
{% endif %}
<strong>
    {% if user.is_authenticated %}
    <form class="d-inline" action="{% url 'news-like' news_detail.slug %}" method="POST">
        {% csrf_token %}
        {% if liked %}
            <button type="submit" name="newspost_id" value="{{ news_detail.slug }}" class="btn-like">
                Unlike
            </button>
        {% else %}
        <button type="submit" name="newspost_id" value="{{ news_detail.slug }}" class="btn-like">
            Like
        </button>
        {% endif %}
    </form>
    {% else %}
    <span class="text-secondary"><i class="far fa-heart"></i></span>
    {% endif %}
</strong>
</div>
<!-- Modal -->
<div class="modal fade" id="likesModal" tabindex="-1" aria-labelledby="likesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="likesModalLabel">Likes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                This people like this post :
                <br>
                {% for user in users_liked %}
                    {{ user }}
                    <br>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
            </div>
        </div>
    </div>
</div>
{%endblock%}