@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/** -------------------------------- VARS ---------------------------- **/

:root {

    /** COLOR PALETTE **/
    --header-footer: rgba(247, 247, 247, 1);
    --off-white: #f7f7f7;
    --darker-black: #111111;
    --lighter-black: #2a2a2a;
    --black: #000000;
    --light-gold: #ffc62c;
    --light-gold-op: rgba(255, 198, 44, 0.7);
    --mid-gold: #f8b500;
    --mid-gold-op: rgba(248, 181, 0, 0.7);
    --dark-gold: #c59000;

    /** FONTS **/
    --text-font: 'Sriracha', sans-serif;
    --header-font: 'Permanent Marker', sans-serif;
}

/** ------------------------------ GENERAL --------------------------- **/

::-webkit-scrollbar {/** Scrollbar styling **/
    width: 10px;
}
::-webkit-scrollbar-track {/** Scrollbar styling **/
    background: var(--dark-gold);
}
::-webkit-scrollbar-thumb {/** Scrollbar styling **/
    background: var(--lighter-black);
}
::-webkit-scrollbar-thumb:hover {/** Scrollbar styling **/
    background: var(--light-gold);
}

body {
    background-color: var(--off-white);
    font-family: var(--text-font);
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

header,
footer {
    z-index: 9;
}

.wrapper {
    padding-bottom: 5vh;
    padding-top: 1vh;
    margin-top: 12vh;
    margin-bottom: 2vh;
    min-height: 75vh;
}

.add-shadow {
    box-shadow: 8px 8px 8px var(--darker-black);
}

.button-shadow {
    box-shadow: 3px 3px 3px var(--darker-black);
    border: 2px solid var(--darker-black)
}

h1 {
    font-family: var(--text-font);
    text-shadow: 2px 2px 4px var(--lighter-black);
}

h2 {
    font-family: var(--header-font);
    text-shadow: 2px 2px 4px var(--lighter-black);
}


h3 {
    font-size: 120%;
    font-family: var(--text-font)
}

.heading {
    background-color: var(--light-gold-op);
    margin-top: 2vh;
}

hr {
    border: 0;
    width: 96%;
    color: var(--darker-black);
    height: 2px;
}

@media screen and (min-height: 600px) and (max-height: 768px) {
    .wrapper {
        margin-top: 16vh;
    }
}


@media screen and (min-height: 400px) and (max-height: 559px) {
    .wrapper {
        margin-top: 23vh;
    }
}

@media screen and (max-height: 400px) {
    .wrapper {
        margin-top: 30vh;
    }
}

/** -------------------------------- HEADER -------------------------- **/
header {
    width: 100%;
    top: 0;
    position: fixed;
}

.navbar-expand-xl .navbar-collapse {
    position: absolute;
    right: 1%;
}

#logo {
    max-width: 200px;
    color: var(--darker-black);
}

#navbar {
    background-color: var(--header-footer);
    border-bottom: 1px solid var(--mid-gold);
    height: 90px;
}

.header-text {
    font-family: var(--header-font);

}

.nav-link {
    font-family: var(--header-font);
    color: var(--darker-black) !important;
    font-size: 130%;
}

.nav-link:hover {
    color: var(--mid-gold) !important;
}

.navbar-expand-xl .navbar-collapse {
    position: absolute;
    right: 1%;
    background-color: var(--header-footer);
}

@media screen and (max-width: 1199px) {
    .navbar-expand-xl .navbar-collapse {
        position: relative;
        right: 1%;
    }
}

/** ------------------------------- FOOTER ---------------------------- **/
footer {
    background-color: var(--header-footer);
    padding: 5px 0;
    width: 100%;
    border-top: 1px solid var(--mid-gold);
    height: 12vh;
}

footer a {
    text-decoration: none;
    color: var(--darker-black);
    font-family: var(--header-font);
}

footer a:hover {
    text-decoration: none;
    color: var(--mid-gold);
}

@media screen and (max-width: 768px) {
    .hide-less-768px {
        display: none;
    }

    footer {
        font-size: 95%;
    }
}

/** ------------------------------- FORMS ---------------------------- **/

input[type=checkbox] {
    outline: 2px solid var(--darker-black);
    accent-color: var(--darker-black);
    background-color: none;
}

input[type=checkbox]:checked {
    outline: 2px solid var(--darker-black);
}

/** ALLAUTH FORMS **/

.form-background label {
    width: 50%;
}

.form-background {
    background-color: var(--mid-gold-op);
    padding: 2vh;
    width: 50%;
}

@media screen and (max-width: 991px) {
    .form-background {
        width: 80%;
    }
}

#id_email,
#id_username,
#id_first_name,
#id_last_name,
#id_phone_number,
#id_password1,
#id_password2 {
    background: none;
    border: 2px solid var(--darker-black);
    font-family: var(--text-font);
    padding: 2px;
}

.form-heading a {
    text-decoration: none;
    color: var(--darker-black);
}

#pass-reset-link{
    text-decoration: none;
    color: var(--darker-black);
}

#id_password + .helptext {
    display: none;
}

/** COMMENTS **/

#id_comment_body {
    background: none;
    border: 2px solid var(--darker-black);
    font-family: var(--text-font);
    padding: 2px;
}

label[for="id_comment_body"] {
    display: none;
}

/** ---------------------------- LANDING PAGE ------------------------ **/
.card {
    background-color: var(--mid-gold-op);
    padding: 0;
    opacity: 0.95;

}

.card-header {
    text-align: center;
}

.top-space {
    margin-top: 3vh;
}

#news-carousel {
    width: 95%;
    height: 66vh;
}

.carousel-picture {
    height: 62vh;
    border-radius: 5px;
    border: 2px solid var(--darker-black);
}

.stats-card {
    height: 20vh;
}

.carousel-caption {
    background-color: var(--lighter-black);
    border-radius: 5px;
}

/** ---------------------------- ARTISTS, STYLES, NEWS ------------------------ **/

.list-container-left {
    background-color: var(--light-gold-op);
    margin: 2vh;
    padding: 2vh;
}

.list-container-left a {
    color: var(--darker-black);
    text-decoration: none;
    font-family: var(--text-font);
}

.list-container-left p {
    font-family: var(--text-font);
}

.list-container-right {
    background-color: var(--mid-gold-op);
    margin: 2vh;
    padding: 2vh;
}

.list-container-right a {
    color: var(--darker-black);
    text-decoration: none;
    font-family: var(--text-font);
}

.list-container-right p {
    font-family: var(--text-font);
}

.star {
    height: 3.5vh;
    width: 3.5vh;
}

.main-pic {
    border: 0.8vh solid var(--dark-gold);
}

.list-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.custom-icon {
    height: 6vh;
    width: 6vh;
}

/** ---------------------- MODALS ------------------------ **/

.modal-content {
    background-color: var(--mid-gold);
}

.text-container {
    max-height: 100px;
    overflow: hidden;
    position: relative;
    background: none;
}

.long-text {
    margin: 0;
    padding: 0;
    background: none;
}

.read-more-link {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--dark-gold);
    padding: 0 10px;
    text-decoration: none;
    display: none;
}

.text-container:hover .read-more-link {
    display: block;
}