@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/** -------------------------------- VARS ---------------------------- **/

:root {

    /** COLOR PALETTE **/
    --header-footer: rgba(247, 247, 247, 0.8);
    --off-white: #f7f7f7;
    --text-color: #111111;
    --hover-color: #f8b500;

    /** FONTS **/
    --text-font: 'Lato', sans-serif;
    ;
    --header-font: 'Roboto', sans-serif;
    ;
}

/** ------------------------------ GENERAL --------------------------- **/

body {
    background-color: var(--off-white);
    font-family: var(--text-font);
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

header,
footer {
    z-index: 9;
}

.wrapper {
    height: 100%;
    width: 97%;
    top: 12vh;
    position: absolute;
    left: 1.5%;
}

/** -------------------------------- HEADER -------------------------- **/
header {
    width: 100%;
    top: 0;
    position: fixed;
}

.navbar-expand-xl .navbar-collapse {
    position: absolute;
    right: 1%;
}

#logo {
    max-width: 200px;
    color: var(--text-color);
}

#navbar {
    background-color: var(--header-footer);
    border-bottom: 1px solid var(--hover-color);
    height: 90px;
}

.header-text {
    font-family: var(--header-font);

}

.active {
    border-bottom: 2px solid var(--text-color);
}

.nav-link {
    font-family: var(--header-font);
    color: var(--text-color) !important;
    font-size: 130%;
}

.nav-link:hover {
    color: var(--hover-color) !important;
}

/** ------------------------------- FOOTER ---------------------------- **/
footer {
    background-color: var(--header-footer);
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid var(--hover-color);
    height: 80px;
}

footer a {
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--header-font);
}

footer a:hover {
    text-decoration: none;
    color: var(--hover-color);
}

/** ------------------------------- FORMS ---------------------------- **/
.form-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
}

/** LOGIN **/
.form {
    background-color: #f8b500;
    padding: 1vh;
}

.form label {
    width: 50%;
}