{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Wrapper -->
<div class="container wrapper" style="background: url('{% static "images/background-booking.jpg" %}') no-repeat fixed top right / cover;">
    <div clas="row">
        <div class="col-12 text-center add-shadow heading">
            <h1>Bookings</h1>
        </div>
    </div>
    <div class="row d-flex justify-content-between">
        <div class="col-xl-7 col-12 bookings-container">
            <h2 class="text-center mb-5">My Bookings</h2>
            <!-- Accordion -->
            <div class="accordion" id="accordionBookings">
                <div class="accordion-item ">
                    <h3 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Pending Bookings
                        </button>
                    </h3>
                    <!-- Pending bookings -->
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionBookings">
                        <div class="accordion-body">
                            <!-- If no pending bookings, display message  -->
                            {% if pending_bookings|length == 0 %}
                                You don't have any pending bookings.
                            {% else %}    
                                <!-- Table header - pending bookings -->
                                <table class="w-100 text-center">
                                    <th>
                                        Ref #
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Time
                                    </th>
                                    <th>
                                        Booked style
                                    </th>
                                    <th>
                                        Artist
                                    </th>
                                    <th>
                                        Edit
                                    </th>
                                    <th>
                                        Cancel
                                    </th>
                                    <!-- Display all pending bookings -->
                                    {% for booking in pending_bookings %}
                                        <tr>
                                            <td>
                                                {{ booking.pk }}
                                            </td>
                                            <td>
                                                {{ booking.date_time|date:"d.m.Y" }}
                                            </td>
                                            <td>
                                                {{ booking.date_time|time:"H:i" }}
                                            </td>
                                            <td>
                                                {{ booking.booked_style }}
                                            </td>
                                            <td>
                                                {{ booking.booked_artist }}
                                            </td>
                                            <td>
                                                <a href="{% url 'edit-booking' edit_booking_pk=booking.pk %}" aria-label="Edit booking">
                                                    <button class="btn btn-warning button-shadow">
                                                        Edit
                                                    </button>
                                                </a>
                                            </td>
                                            <td class="pb-2">
                                                <a href="{% url 'cancel-request' request_booking_pk=booking.pk %}" aria-label="Cancel booking">
                                                    <button class="btn btn-danger button-shadow">
                                                        Cancel
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- Confirmed bookings -->
                <div class="accordion-item">
                    <h3 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Confirmed Bookings
                        </button>
                    </h3>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionBookings">
                        <div class="accordion-body">
                            <!-- If no confirmed bookings, display message -->
                            {% if confirmed_bookings|length == 0 %}
                                You don't have any confirmed bookings.
                            {% else %}    
                                <!-- Table header - confirmed bookings -->
                                <table class="w-100 text-center">
                                    <th>
                                        Ref #
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Time
                                    </th>
                                    <th>
                                        Booked style
                                    </th>
                                    <th>
                                        Artist
                                    </th>
                                    <th>
                                        Edit
                                    </th>
                                    <th>
                                        Cancel
                                    </th>
                                    <!-- Display all confirmed bookings -->
                                    {% for booking in confirmed_bookings %}
                                        <tr>
                                            <td>
                                                {{ booking.pk }}
                                            </td>
                                            <td>
                                                {{ booking.date_time|date:"d.m.Y" }}
                                            </td>
                                            <td>
                                                {{ booking.date_time|time:"H:i" }}
                                            </td>
                                            <td>
                                                {{ booking.booked_style }}
                                            </td>
                                            <td>
                                                {{ booking.booked_artist }}
                                            </td>
                                            <td>
                                                <a href="{% url 'edit-booking' edit_booking_pk=booking.pk %}" aria-label="Edit booking">
                                                    <button class="btn btn-warning button-shadow">
                                                        Edit
                                                    </button>
                                                </a>
                                            </td>
                                            <td class="pb-2">
                                                <a href="{% url 'cancel-request' request_booking_pk=booking.pk %}" aria-label="Cancel booking">
                                                    <button class="btn btn-danger button-shadow">
                                                        Cancel
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- Done bookings -->
                <div class="accordion-item">
                    <h3 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Past Bookings
                        </button>
                    </h3>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionBookings">
                        <div class="accordion-body">
                            <!-- If no past bookings, display message -->
                            {% if done_bookings|length == 0 %}
                                You don't have any past bookings.
                            {% else %}    
                                <!-- Table header -->
                                <table class="w-100 text-center">
                                    <th>
                                        Ref #
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Time
                                    </th>
                                    <th>
                                        Booked style
                                    </th>
                                    <th>
                                        Artist
                                    </th>
                                    <th>
                                        Review
                                    </th>
                                    <!-- Display all done bookings -->
                                    {% for booking in done_bookings %}
                                        <tr>
                                            <td>
                                                {{ booking.pk }}
                                            </td>
                                            <td>
                                                {{ booking.date_time|date:"d.m.Y" }}
                                            </td>
                                            <td>
                                                {{ booking.date_time|time:"H:i" }}
                                            </td>
                                            <td>
                                                {{ booking.booked_style }}
                                            </td>
                                            <td>
                                                {{ booking.booked_artist }}
                                            </td>
                                            <td>
                                                <!-- If review not submitted yet, display stars -->
                                                {% if booking.is_rated == False %}
                                                    <!-- Booking reviews -->
                                                    <div class="review p-2">
                                                        <a href="{% url 'rate-booking' rate_booking_pk=booking.pk score=1 %}" class="star-rating">
                                                            <img src="{% static 'images/icons/empty_star.png' %}" class="star">
                                                        </a>
                                                        <a href="{% url 'rate-booking' rate_booking_pk=booking.pk score=2 %}" class="star-rating">
                                                            <img src="{% static 'images/icons/empty_star.png' %}" class="star">
                                                        </a>
                                                        <a href="{% url 'rate-booking' rate_booking_pk=booking.pk score=3 %}" class="star-rating">
                                                            <img src="{% static 'images/icons/empty_star.png' %}" class="star">
                                                        </a>
                                                        <a href="{% url 'rate-booking' rate_booking_pk=booking.pk score=4 %}" class="star-rating">
                                                            <img src="{% static 'images/icons/empty_star.png' %}" class="star">
                                                        </a>
                                                        <a href="{% url 'rate-booking' rate_booking_pk=booking.pk score=5 %}" class="star-rating">
                                                            <img src="{% static 'images/icons/empty_star.png' %}" class="star">
                                                        </a>
                                                    </div>
                                                {% else %}
                                                    <div class="p-2">
                                                        <strong>
                                                            Review submitted !
                                                        </strong>
                                                    </div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center pt-3">
                <div>
                    <a href="{% url 'new-booking' %}" aria-label="New booking">
                        <button type="button" class="btn btn-success button-shadow">New booking</button>
                    </a>
                </div>
            </div>
        </div>
        <!-- Last minute -->
        <div class="col-xl-4 col-12 bookings-container">
            <div class="row">
                <h2 class="text-center mb-4">
                    Last minute
                </h2>
            </div>
            <div class="row">
                <table class="w-100">
                <tr>
                    <th class="text-center">
                        Artist
                    </th>
                    <th class="text-center">
                        Slots today
                    </th>
                    <th class="text-center">
                        Slots tomorrow
                    </th>
                </tr>
                <!-- Display all artists with amount of free slots today and tomorrow -->
                {% for last_minute in last_minutes %}
                    <tr>
                        <th class="text-center">
                            <a href="{% url 'artist-detail' slug=last_minute.slug %}" aria-label="Details of {{ last_minute.name }}" class="custom-form-link">
                                {{ last_minute.name }}
                            </a>
                        </th>
                        <td class="text-center">
                            {{ last_minute.free_today }}
                        </td>
                        <td class="text-center">
                            {{ last_minute.free_tomorrow }}
                        </td>
                    <tr>
                {% endfor %}
                </table>
            </div>
            <p class="text-center mt-4">
                To make a last minute booking, please ring us on 
                <a href="tel:0872615238" aria-label="Call us" class="custom-form-link">
                    <br />
                    <strong>
                        087 261 52 38
                    </strong>
                </a>
                .
            </p>
            <p class="text-center mt-4">
                <strong>
                    or
                </strong>
            </p>
            <div class="container text-center">
                <a href="{% url 'new-booking' %}" aria-label="New booking">
                    <button type="button" class="btn btn-success button-shadow">New regular booking</button>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    let onStar = `<img src="{% static 'images/icons/star.png' %}" class="star">`;
    let offStar = `<img src="{% static 'images/icons/empty_star.png' %}" class="star">`;
</script>
<script src="{% static 'js/star_rating.js' %}"></script>
{%endblock%}