{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="wrapper">
    Edit booking - set to pending message
    <form method="post" enctype="multipart/form-data" id="newBookingForm">
    {% csrf_token %}
    {{ edit_booking_form | crispy }}
    <input type="submit" value="Submit" id="submit-booking">
</form>
</div>
<script>
    let initialTime = "{{ initial_time }}";
</script>
<script src="{% static 'js/edit_booking.js' %}"></script>
{%endblock%}