{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_styles %}
<!-- Local styling to ensure this doesn't interfere with global styling of same class names -->
<style>
    .asteriskField {
        display: none;
    }
</style>
{% endblock %}

{% block content %}
<div class="container wrapper d-flex justify-content-center align-items-center" style="background: url('{% static "images/background-booking.jpg" %}') no-repeat fixed top right / cover;">
    <div class="form-background">
        <div class="close-button d-flex justify-content-end">
            <a href="{% url 'my-bookings' %}" aria-label="Back to My Bookings" class="custom-booking-link">
                <i class="bi bi-x-lg"></i>
            </a>
        </div>
        <h1 class="text-center">
            Edit booking
        </h1>
        <p class="text-center">
            Please note that this booking will change status to "pending".
        </p>
        <!-- Spinner -->
        <div class="container text-center">
            <div class="spinner-border text-dark" role="status" id="booking-spinner">
                <span class="sr-only"></span>
            </div>
        </div>
        <!-- Edit booking form -->
        <form method="post" enctype="multipart/form-data" id="newBookingForm">
        {% csrf_token %}
        {{ edit_booking_form | crispy }}
        <div class="container d-flex justify-content-around">
            <button type="submit" value="Submit" id="submit-booking" class="btn btn-success button-shadow mt-4">Change booking</button>
        </div>
        </form>
    </div>
</div>
<script>
    let initialTime = "{{ initial_time }}";
</script>
<script src="{% static 'js/edit_booking.js' %}"></script>
{%endblock%}