{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_styles %}
<!-- Local styling to ensure this doesn't interfere with global styling of same class names -->
<style>
    .asteriskField {
        display: none;
    }
</style>
{% endblock %}

{% block content %}
<div class="container wrapper d-flex justify-content-center align-items-center" style="background: url('{% static "images/background-booking.jpg" %}') no-repeat fixed top right / cover;">
    <div class="form-background">
        <div class="close-button d-flex justify-content-end">
            <a href="{% url 'my-bookings' %}" aria-label="Back to My Bookings" class="custom-booking-link">
                <i class="bi bi-x-lg"></i>
            </a>
        </div>
        <h1 class="text-center">
            New booking
        </h1>
        <!-- Spinner -->
        <div class="container text-center">
            <div class="spinner-border text-dark" role="status" id="booking-spinner">
                <span class="sr-only"></span>
            </div>
        </div>
        <!-- New booking form -->
        <form method="post" enctype="multipart/form-data" id="newBookingForm">
            {% csrf_token %}
            {{ new_booking_form | crispy }}
            <div class="container d-flex justify-content-around">
                <button type="submit" value="Submit" id="submit-booking" class="btn btn-success button-shadow mt-4">Create booking</button>
            </div>
        </form>
    </div>
</div>
<!-- New booking JS logic -->
<script src="{% static 'js/new_booking.js' %}"></script>
{%endblock%}