{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container wrapper d-flex justify-content-center align-items-center" style="background: url('{% static "images/background-admin.jpg" %}') no-repeat fixed top right / cover;">
    <div class="form-background">
        <div class="w-100 d-flex justify-content-center p-3">
            <h1>
                Admin
            </h1>
        </div>
        <div class="w-100 d-flex justify-content-center p-3 form-heading text-center">
            <p>
                Admin section is currently under constraction, please use the <a href="{% url 'admin:index' %}">Django Admin Suite</a> in the mean time.
            </p>
        </div>
    </div>
</div>
{% endblock %}