<center>
<img src="https://raw.githubusercontent.com/tomik-z-cech/PP4-Aneta-s-Glimmer/main/templates/emails/email_logo.png" alt="Logo" />
</center>
<br>
<font color="black" size="4" face="Arial">Hello from Aneta's Glimmer {{user}},</font>
<br><br> 
<font color="black" size="4" face="Arial">We are sending you this email to let you know that your booking reference number</font>
<font color="gold"> {{ ref_number }}</font>
<font color="black" size="4" face="Arial">for</font>
<font color="gold"> {{date}}</font>
<font color="black" size="4" face="Arial">at</font>
<font color="gold"> {{time}} </font>
<font color="black" size="4" face="Arial">with</font>
<font color="gold"> {{artist}} </font>
<font color="black" size="4" face="Arial">is pending confirmation.</font>
<br><br>
<font color="black" size="4" face="Arial">We will confirm that shortly ;)</font>
<br><br>
<font color="black" size="4" face="Arial">Sincinerly, Aneta's Glimmer Team</font>
<br>
<a href="https://anetas-glimmer-05b4a3ceb113.herokuapp.com/">www.anetas-glimmer.ie</a>
</font>