<div style="background-color: #f7f7f7; text-align: center; padding: 20px;">
    <p style="color: #111111;">
        <img src="https://raw.githubusercontent.com/tomik-z-cech/PP4-Aneta-s-Glimmer/main/templates/emails/email_logo.png" alt="Logo" />
    </p>
    <p style="color: #111111;">
        Hello from Aneta's Glimmer {{user}},
    </p>
    <p style="color: #111111;"> 
        We are sending you this email to let you know that your booking reference number
        <span style="color: #c59000;"> {{ ref_number }} </span>
        has been created and pending confirmation. The booking is for
        <span style="color: #c59000;"> {{date}} </span>
        at
        <span style="color: #c59000;"> {{time}} </span>
        with
        <span style="color: #c59000;"> {{artist}}</span>
        .
    </p>
    <p style="color: #111111;">
        We will confirm that shortly ;)
        <br>
        <a href="https://anetas-glimmer-05b4a3ceb113.herokuapp.com/">www.anetas-glimmer.ie</a>
    </p>
</div>