{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container wrapper d-flex justify-content-center align-items-center" style="background: url('{% static "images/background-error.jpg" %}') no-repeat fixed top right / cover;">
    <div class="form-background">
        <h1 class="text-center">404 - Oops! You've Nailed It!</h1>
        <p class="text-center">Looks like you've ventured into uncharted territory. Our nail artists are masters of precision, but the page you are trying to reach seems to be a work in progress.</p>
    </div>
</div>
{%endblock%}