{% extends "base.html" %}

{% block content %}
<h1>Our Team :</h1>
<br>
{% for artist in artists_list %}
Name : {{ artist.name }}
<br>
Profile picture : {{ artist.profile_picture }}
<br>
Bio : {{ artist.bio }}
<br>
Public profile : {{ artist.public_profile }}
<br>
Since : {{ artist.start_date }}
<br>
Styles : 
{% for style in artist.styles.all %}
    {{ style.style_name }}
    {% if not forloop.last %}
        ,
    {% endif %}
{% endfor %}
<br>
Rating : {{ artist.rating }}
<br>
Total bookings : {{ artist.bookings_total }}
<br><br>
{% endfor %}

{%endblock%}