{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/x-icon">
    <title>Aneta's Glimmer | Home</title>
</head>
<body>
     <!-- Set header -->
    <header>
        <nav>
            
        </nav>
    </header>
    <!-- Main Conent-->
        Base !
    <!-- Footer -->
    <footer class="text-center">
    </footer>
</body>
</html>