<!-- Footer -->
<footer class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <p class="fs-6">
            <a href="tel:0872615238">
              <i class="bi bi-telephone-fill"></i>
              087 261 52 38
            </a>
          </p>
        </div>
        <div class="col-4">
          <p class="fs-6">
            <a href="mailto:anetasglimmer@gmail.com">
              <i class="bi bi-envelope-fill"></i>
              anetasglimmer@gmail.com
            </a>
          </p>
        </div>
        <div class="col-4">
          <p class="fs-6">
            <a href="https://www.facebook.com/tomas.kubancik/" target="_blank">
              <i class="bi bi-facebook"></i>
              Follow us !
            </a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p>
            <a href="https://github.com/tomik-z-cech" target="_blank">
              2023 Tomas Kubancik - for educational purposes only
            </a>
          </p>
        </div>
      </div>
    </div>
</footer>