<!-- Footer -->
<footer class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <p class="fs-6">
            <a href="tel:0872615238" aria-label="Call us">
              <i class="bi bi-telephone-fill"></i>
              <span class="hide-less-768px">
                &nbsp;
                087 261 52 38
              </span>
            </a>
          </p>
        </div>
        <div class="col-4">
          <p class="fs-6">
            <a href="mailto:anetasglimmer@gmail.com" aria-label="Email us">
              <i class="bi bi-envelope-fill"></i>
              <span class="hide-less-768px">
                &nbsp;
                anetasglimmer@gmail.com
              </span>
            </a>
          </p>
        </div>
        <div class="col-4">
          <p class="fs-6">
            <a href="https://www.facebook.com/tomas.kubancik/" target="_blank" aria-label="Find us on Facebook">
              <i class="bi bi-facebook"></i>
              <span class="hide-less-768px">
                &nbsp;
                Follow us !
              </span>
            </a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p>
            <a href="https://github.com/tomik-z-cech" target="_blank" aria-label="Tomas Kubancik GitHub profile">
              2023 Tomas Kubancik - for educational purposes only
            </a>
          </p>
        </div>
      </div>
    </div>
</footer>