{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
<br>
<br>
<br>
<br>
{% else %}
Login to manage bookings
<br>
<br>
<br>
{% endif %}

{% for news in news_list %}
    Heading image : {{ news.heading_image }}
    <br>
    <a href="{% url 'news-detail' slug=news.slug %}">Title : {{ news.title }}</a>
    <br>
    Creator : {{ news.creator }}
    <br>
    Created : {{ news.created_on }}
    <br>
    Post Body : {{ news.post_body }}
    <br>
    Likes : {{ news.number_of_likes}}
    <br><br>
{% endfor %}

{%endblock%}