{% extends "base.html" %}

{% block content %}
<div class="wrapper">
Heading image : {{ news_detail.heading_image }}
<br>
<h1>Title : {{ news_detail.title }}</h1>
<br>
Creator : {{ news_detail.creator }}
<br>
Created : {{ news_detail.created_on }}
<br>
Post Body : {{ news_detail.post_body | safe }}
<br>
Likes : {{ news_detail.number_of_likes}}
{% if user.is_authenticated %}
{% for comment in comments %}
<div>
{{ comment.username }}
{{ comment.comment_body }}
{{ comment.created_on }}
</div>
{% endfor %}
{% else %}
Only logged in users can read comments.
{% endif %}
</div>
{%endblock%}