{% extends "base.html" %}

{% block content %}

<h1>Title : {{ style_name }}</h1>
<br>
Style image : {{ sample_image }}
<br>
Description : {{ style_description }}
<br>
Likes : {{ likes }}
<br>
Tries : {{ tries }}
<br>
Artists : 
{% for filtered_artist in filtered_artists %}
    {% for detail in filtered_artist %}
        {% if not forloop.counter|divisibleby:2 %}
            <a href="{% url 'artist-detail' slug=detail %}">
        {% else %}
            {{ detail}}</a>
        {% endif %}
    {% endfor %}
{% endfor %}


{%endblock%}