{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container wrapper" style="background: url('{% static "images/background-artists.jpg" %}') no-repeat fixed top right / cover;">
<h1>Title : {{ style_name }}</h1>
<br>
Style image : {{ sample_image }}
<br>
Description : {{ style_description }}
<br>
Likes : {{ likes }}
<br>
Tries : {{ tries }}
<br>
Artists : 
{% for filtered_artist in filtered_artists %}
    {% for detail in filtered_artist %}
        {% if not forloop.counter|divisibleby:2 %}
            <a href="{% url 'artist-detail' slug=detail %}">
        {% else %}
            {{ detail}}</a>
        {% endif %}
    {% endfor %}
{% endfor %}
<br>
<strong>
    {% if user.is_authenticated %}
    <form class="d-inline" action="{% url 'style-like' slug %}" method="POST">
        {% csrf_token %}
        {% if liked %}
            <button type="submit" name="newspost_id" value="{{ slug }}" class="btn-like">
                Unlike
            </button>
        {% else %}
        <button type="submit" name="newspost_id" value="{{ slug }}" class="btn-like">
            Like
        </button>
        {% endif %}
    </form>
    {% else %}
    <span class="text-secondary"><i class="far fa-heart"></i></span>
    {% endif %}
</strong>
<br>
<strong>
    {% if user.is_authenticated %}
    <form class="d-inline" action="{% url 'style-try' slug %}" method="POST">
        {% csrf_token %}
        {% if want_to_try %}
            <button type="submit" name="newspost_id" value="{{ slug }}" class="btn-like">
                Untry
            </button>
        {% else %}
        <button type="submit" name="newspost_id" value="{{ slug }}" class="btn-like">
            Try
        </button>
        {% endif %}
    </form>
    {% else %}
    <span class="text-secondary"><i class="far fa-heart"></i></span>
    {% endif %}
</strong>
<br>
Like : {{ users_liked }}
<br>
Try : {{ users_want_to_try}}
</div>
{%endblock%}