{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Inner container -->
<div class="container wrapper" style="background: url('{% static "images/background-styles.jpg" %}') no-repeat fixed top right / cover;">
    <div clas="row">
        <div class="col-12 text-center add-shadow heading">
            <h1>Styles Available @ Aneta's Glimmer</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <!-- Loop to diplay all available styles -->
            {% for style in styles_list %}
                {% if not forloop.counter|divisibleby:2 %}
                    <div class="list-container-left add-shadow float-start w-75">
                {% else %}
                    <div class="list-container-right add-shadow float-end w-75">
                {% endif %}
                    <div class="row">
                        <!-- If odd, display on the left - even on the right -->
                        {% if not forloop.counter|divisibleby:2 %}
                        <div class="col-lg-4 col-sm-12">
                        {% else %}
                        <div class="col-lg-4 col-sm-12 order-lg-last">
                        {% endif %}
                            <a href="{% url 'style-detail' slug=style.slug %}" aria="Details of {{ style.style_name }}">
                                <!-- Sample image - default or existing -->
                                {% if "default_sample_image" in style.sample_image.url %}
                                    <img src="{% static 'images/default_sample_image.png' %}" class="img-fluid artist-profile-pic" alt="{{ style.style_name }}">
                                {% else %}
                                    <img src="{{ style.sample_image.url }}" class="img-fluid artist-profile-pic" alt="{{ style.style_name }}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-lg-8 col-sm-12 list-detail">
                            <a href="{% url 'style-detail' slug=style.slug %}" aria="Detail of {{ style.style_name }}">
                                <h2>
                                    {{ style.style_name }}
                                </h2>
                            </a>
                            <hr />
                            <p>
                                <strong>
                                    Description : 
                                </strong>
                                {{ style.style_description }}
                            </p>
                            <hr />
                            <!-- "Likes", "tries" and comments counter -->
                            <p>
                                <a href="{% url 'style-detail' slug=style.slug %}" aria="Details of {{ style.style_name }}">
                                    <img src="{% static 'images/icons/like_1.png' %}" class="img-fluid custom-icon" alt="{{ artist.artist.name }}">
                                </a>
                                &nbsp
                                <strong>
                                    {{ style.number_of_likes }}
                                </strong>
                                &nbsp
                                &nbsp
                                &nbsp
                                <a href="{% url 'style-detail' slug=style.slug %}" aria="Details of {{ style.style_name }}">
                                    <img src="{% static 'images/icons/try_1.png' %}" class="img-fluid custom-icon" alt="{{ artist.artist.name }}">
                                </a>
                                &nbsp
                                <strong>
                                    {{ style.number_of_tries }}
                                </strong>
                                &nbsp
                                &nbsp
                                &nbsp
                                <a href="{% url 'style-detail' slug=style.slug %}" aria="Details of {{ style.style_name }}">
                                    <img src="{% static 'images/icons/comments.png' %}" class="img-fluid custom-icon" alt="{{ artist.artist.name }}">
                                </a>
                                &nbsp
                                <strong>
                                    {{ style.comments_num }}
                                </strong>
                            </p>
                            <hr />
                            <!-- New booking button -->
                            <div class="container text-center">
                                <a href="{% url 'new-booking' %}" aria="New booking for {{ style.style_name }}">
                                    <button type="button" class="btn btn-success button-shadow">New booking for {{style.style_name }}</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}