{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container wrapper" style="background: url('{% static "images/background-styles.jpg" %}') no-repeat fixed top right / cover;">
    <div class="list-container-right add-shadow w-90">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <!-- Sample image - default or existing -->
                {% if "default_sample_image" in style.sample_image.url %}
                    <img src="{% static 'images/default_sample_image.png' %}" class="img-fluid main-pic" alt="{{ style.style_name }}">
                {% else %}
                    <img src="{{ style.sample_image.url }}" class="img-fluid main-pic" alt="{{ style.style_name }}">
                {% endif %}
            </div>
            <!-- Details of selected style -->
            <div class="col-lg-8 col-sm-12 list-detail">
                <h1>
                    {{ style.style_name }}
                </h1>
                <hr />
                <p>
                    <strong>
                        Description : 
                    </strong>
                    {{ style.style_description }}
                </p>
                <hr />
                <p>
                <strong>
                    Artists excelling in this style :
                </strong>
                {% for filtered_artist in filtered_artists %}
                    {% for detail in filtered_artist %}
                        {% if not forloop.counter|divisibleby:2 %}
                            <a href="{% url 'artist-detail' slug=detail %}">
                        {% else %}
                            {{ detail}}</a>&nbsp
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </p>
                <hr />
                <!-- New booking button -->
                <div class="container text-center">
                    <a href="{% url 'new-booking' %}" aria-label="New booking for {{ style.style_name }}" class="btn btn-success button-shadow">
                        New booking for {{style.style_name }}
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- If user logged in - functions like, try and comment -->
            {% if user.is_authenticated %}
                <div class="col-12 pt-3 d-flex  justify-content-around flex-column flex-xl-row">
                    <form action="{% url 'style-like' style.slug %}" method="POST" id="likeForm">
                        {% csrf_token %}
                        {% if liked %}
                            <a href="#" aria-label="Unlike {{ style.style_name }}">
                                <img src="{% static 'images/icons/like_1.png' %}" class="img-fluid custom-icon" alt="Unlike icon" id="likeButton">
                            </a>
                        {% else %}
                            <a href="#" aria-label="Like {{ style.style_name }}">
                                <img src="{% static 'images/icons/like_0.png' %}" class="img-fluid custom-icon" alt="Like icon" id="likeButton">
                            </a>
                        {% endif %}
                        <!-- Open Modal with list of users - like -->
                        <a href="#" data-bs-toggle="modal" data-bs-target="#likesModal">
                            <strong>
                                <!-- If more than 3 people like, display and x more -->
                                {% if users_liked|length == 0 %}
                                        Be first to like
                                {% elif users_liked|length < 4 %}
                                    {% for user in users_liked %}
                                        {{ user }}
                                        {% if  forloop.counter < users_liked|length %}
                                            ,
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% for user in users_liked|slice:":3" %}
                                        {{ user }}
                                        {% if  forloop.counter < 3 %}
                                            ,
                                        {% endif %}
                                    {% endfor %}
                                    and {{ users_liked|slice:"3:"|length }} more
                                {% endif %}
                            </strong>
                        </a>
                    </form>
                    <!-- Form for marking as try -->
                    <form action="{% url 'style-try' style.slug %}" method="POST" id="tryForm" class="w-30">
                        {% csrf_token %}
                        {% if want_to_try %}
                            <a href="#" aria-label="Unmark {{ style.style_name }} as style you want to try">
                                <img src="{% static 'images/icons/try_1.png' %}" class="img-fluid custom-icon" alt="Unmark as try icon" id="tryButton">
                            </a>
                        {% else %}
                            <a href="#" aria-label="Mark {{ style.style_name }} as style you want to try">
                                <img src="{% static 'images/icons/try_0.png' %}" class="img-fluid custom-icon" alt="Mark as try icon" id="tryButton">
                            </a>
                        {% endif %}
                        <!-- Modal for list of people they marked as they want to try -->
                        <a href="#" data-bs-toggle="modal" data-bs-target="#triesModal">
                            <strong>
                                <!-- If list of people they want to try longer than 3 display "and x more" -->
                                {% if users_want_to_try|length == 0 %}
                                        Be first to try
                                {% elif users_want_to_try|length < 4 %}
                                    {% for user in users_want_to_try %}
                                        {{ user }}
                                        {% if  forloop.counter < users_want_to_try|length %}
                                            ,
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% for user in users_want_to_try|slice:":3" %}
                                        {{ user }}
                                        {% if  forloop.counter < 3 %}
                                            ,
                                        {% endif %}
                                    {% endfor %}
                                    and {{ users_want_to_try|slice:"3:"|length }} more
                                {% endif %}
                            </strong>
                        </a>
                    </form>
                    <!-- Show comments anchor -->
                    <p>
                        <a href="#" id="showComments" aria-label="Show comments">
                            <img src="{% static 'images/icons/comments.png' %}" class="img-fluid custom-icon" alt="Likes counter icon">
                            <strong>
                                Show comments
                            </strong>
                        </a>
                    </p>
                </div>
                {% else %}
                <!-- If user not logged in -->
                <div class="col-4 pt-3 d-flex justify-content-around">
                    <!-- Show counter of likes, tries and comments -->
                    <p class="text-center mx-2">
                        <img src="{% static 'images/icons/like_1.png' %}" class="img-fluid custom-icon" alt="Likes counter icon">
                        &nbsp;
                        <strong>
                            {{ style.number_of_likes }}
                        </strong>
                    </p>
                    <p class="text-center mx-2">
                        <img src="{% static 'images/icons/try_1.png' %}" class="img-fluid custom-icon" alt="Tries counter icon">
                        &nbsp;
                        <strong>
                            {{ style.number_of_tries }}
                        </strong>
                    </p>
                    <p class="text-center mx-2">
                        <img src="{% static 'images/icons/comments.png' %}" class="img-fluid custom-icon" alt="Comments icon">
                        &nbsp;
                        <strong>
                            {{ comments|length }}
                        </strong>
                    </p>
                </div>
                <!-- Info for user -->
                <div class="col-8 pt-4 d-flex justify-content-around">
                    <p class="mt-1">
                        <strong>
                            Please login to be able to like and comment.
                        </strong>
                    </p>
                </div>
                {% endif %}
        </div>
    </div>
    <!-- Div for displaying comment form -->
    <div id="commentForm" class="list-container-right add-shadow w-90">
        <!-- Only for logged in users -->
        {% if user.is_authenticated %}
            <!-- If no comment submitted yet, display form -->
            {% if can_comment %}
            <div class="col-12 d-flex justify-content-start">
                <h2>Commenting as {{ user.username }} :</h2>
            </div>
            <form method="post">
                {{ styles_comment_form | crispy }}
                {% csrf_token %}
                <div class="col-12 d-flex justify-content-end">
                    <button type="Submit" class="btn btn-success button-shadow mt-2">Comment</button>
                </div>
            </form>
            <br>
            <!-- If form submitted, display message -->
            {% else %}
                Hold on tight, your comment is being approved !
            {% endif %}
    </div>
    <!-- Div for comments -->
    <div id="comments" class="list-container-right add-shadow w-90">
        {% if comments|length == 0%}
            Be first to comment ;)
        {%else%}
            <!-- Loop to iterate through all comments -->
            {% for comment in comments %}
                {% if forloop.first %}
                <hr>
                {% endif %}
                <strong>
                    Comment by {{ comment.creator }} - {{ comment.created_on|date:"d.m.Y" }}
                </strong> 
                <br>
                {{ comment.comment_body }}
                <hr>
            {% endfor %}
        {% endif %}
    {% endif %}
    </div>
</div>
<!-- Likes Modal -->
<div class="modal fade" id="likesModal" tabindex="-1" aria-labelledby="likesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="likesModalLabel">Likes</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                {% for user in users_liked %}
                    {{ user }}
                    <br>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning button-shadow" data-bs-dismiss="modal">Back</button>
            </div>
        </div>
    </div>
</div>
<!-- Tries Modal -->
<div class="modal fade" id="triesModal" tabindex="-1" aria-labelledby="triesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="triesModalLabel">Want to try</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                {% for user in users_want_to_try %}
                    {{ user }}
                    <br>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning button-shadow" data-bs-dismiss="modal">Back</button>
            </div>
        </div>
    </div>
</div>
<script>
    let canComment = "{{ can_comment }}"
</script>
<script src="{% static 'js/comments_styles.js' %}"></script>
{%endblock%}